Notebook is copyright &copy; of <a href="https://ajaytech.co">Ajay Tech</a>. For a web version of this, please visit <a href="https://ajaytech.co/regression-with-r">Linear Regression-with-r</a>.

<hr>

# Linear Regression with R

- What is Regression
- Why Regression
- Solve a Regression problem in Python
- Simple Linear Regression
  - How did we get the straight line ( fit )
  - Residuals
  - Sum of Squares
- Multilinear Regression
  - Boston Housing dataset
  - Reponse Variable vs Predictor
- Correlation
- p value
  - Null Hypothesis
  - Optimum p-value
- Key Model Evaluation Parameters
  - r-squared – r2
  - How is r2 calculated
  - r-squared adjusted
  - RMSE – Root Mean Square error
- Feature Selection
  - Stepwise Regression
  - Backward Elimination
- Accuracy of the model
  - Training & Test datasets
- Polynomial Regression
- Overfitting
  - Detect Overfitting
- Linear Regression Assumptions
  - Homoskedasticity
  - Normal Distribution of Residuals
  - No Multicollinearity
- Challenges

In [6]:
# read.csv is used to read a csv file into a dataframe
black_friday_df = read.csv("./data/BlackFriday.csv")

In [5]:
head(black_friday_df)  # prints the first few rows

  User_ID Product_ID Gender Age   Occupation City_Category
1 1000001 P00069042  F      0-17  10         A
2 1000001 P00248942  F      0-17  10         A
3 1000001 P00087842  F      0-17  10         A
4 1000001 P00085442  F      0-17  10         A
5 1000002 P00285442  M      55+   16         C
6 1000003 P00193542  M      26-35 15         A
  Stay_In_Current_City_Years Marital_Status Product_Category_1
1 2                          0               3
2 2                          0               1
3 2                          0              12
4 2                          0              12
5 4+                         0               8
6 3                          0               1
  Product_Category_2 Product_Category_3 Purchase
1 NA                 NA                  8370
2  6                 14                 15200
3 NA                 NA                  1422
4 14                 NA                  1057
5 NA                 NA                  7969
6  2                 NA                 15227

In [4]:
str(black_friday_df)

'data.frame':	537577 obs. of  12 variables:
 $ User_ID                   : int  1000001 1000001 1000001 1000001 1000002 1000003 1000004 1000004 1000004 1000005 ...
 $ Product_ID                : Factor w/ 3623 levels "P00000142","P00000242",..: 671 2375 851 827 2733 1830 1744 3319 3597 2630 ...
 $ Gender                    : Factor w/ 2 levels "F","M": 1 1 1 1 2 2 2 2 2 2 ...
 $ Age                       : Factor w/ 7 levels "0-17","18-25",..: 1 1 1 1 7 3 5 5 5 3 ...
 $ Occupation                : int  10 10 10 10 16 15 7 7 7 20 ...
 $ City_Category             : Factor w/ 3 levels "A","B","C": 1 1 1 1 3 1 2 2 2 1 ...
 $ Stay_In_Current_City_Years: Factor w/ 5 levels "0","1","2","3",..: 3 3 3 3 5 4 3 3 3 2 ...
 $ Marital_Status            : int  0 0 0 0 0 0 1 1 1 1 ...
 $ Product_Category_1        : int  3 1 12 12 8 1 1 1 1 8 ...
 $ Product_Category_2        : int  NA 6 NA 14 NA 2 8 15 16 NA ...
 $ Product_Category_3        : int  NA 14 NA NA NA NA 17 NA NA NA ...
 $ Purchase                  : int  8370 15200 1422 1057 7969 15227 19215 15854 15686 7871 ...

In [7]:
# Not all columns are necessary. For example, a column like userID does not add any value to predict the purchase.

In [11]:
colSums(is.na(black_friday_df))

                   User_ID                 Product_ID
                         0                          0
                    Gender                        Age
                         0                          0
                Occupation              City_Category
                         0                          0
Stay_In_Current_City_Years             Marital_Status
                         0                          0
        Product_Category_1         Product_Category_2
                         0                     166986
        Product_Category_3                   Purchase
                    373299                          0

In [14]:
is.list(black_friday_df)

[1] TRUE

In [15]:
is.data.frame(black_friday_df)

[1] TRUE

Dataframes are just R lists with a few restrictions

- All the elements of the list should have the same length and they should all be vectors. 
- Each sub-element in the list should have the same datatype.
- The names of the elements should be unique.

In [20]:
class(black_friday_df)

[1] "data.frame"

In [23]:
i = TRUE

In [24]:
class(i)

[1] "logical"

### EDA